.ImageCard {
    width: 200px; /* Визначити ширину для зображення */
    height: 200px; /* Визначити висоту для зображення */
    overflow: hidden; /* Приховати переповнені частини */
    cursor: pointer; /* Змінити курсор при наведенні */
  }
  
  .image {
    width: 100%; /* Зображення займає всю ширину */
    height: 100%; /* Зображення займає всю висоту */
    object-fit: cover; /* Зберегти пропорції зображення */
  }
  